.profilesWrapper {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
}

.profilesWrapper h1 {
	color: teal;
}

.profilesWrapperIntro {
	display: flex;
	margin: 10px 0px;
}

.profilesWrapperIntro i {
	margin-right: 10px;
	color: purple;
	font-size: 20px;
}

.profilesWrapperIntro p {
	color: white;
}

.profilesLists {
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 600px) {
	.profilesWrapper h1 {
		text-align: center;
	}

	.profilesWrapperIntro {
		align-items: center;
		justify-content: center;
	}
}
