.homeCenterPostItem {
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	margin: 20px 0px;
}

.homeCenterTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topLeft {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
	position: relative;
}

.userDiv {
	display: flex;
}

.topLeftImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0px 10px 10px 0px;
}

.topLeftUserInfo {
	display: flex;
	flex-direction: column;
}

.username {
	color: teal;
}

.skillsList,
.followersCount,
.time {
	font-size: small;
}

.followersCount {
	margin: 5px 0px;
}

.topRight {
	display: flex;
}

.topRightFollowDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	color: teal;
	cursor: pointer;
	font-weight: 500;
	height: 24px;
	margin-right: 16px;
}

.deleteUpdateBtns {
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	background-color: white;
	padding: 12px;
	border-radius: 8px;
	position: absolute;
	width: 130px;
	right: 20px;
}

.updateBtns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.updateBtns i {
	color: teal;
	cursor: pointer;
}

.deleteBtns {
	display: flex;
	justify-content: space-between;
}

.deleteBtns i {
	color: rgba(255, 0, 0, 0.719);
	cursor: pointer;
}

.topRight i {
	margin-right: 5px;
	font-size: 16px;
}

.line {
	color: 0.1x solid #ddd;
	margin: 5px 0px;
	opacity: 0.3;
}

.homeCenterPostImg {
	margin: 10px 0px;
	border-radius: 8px;
	width: 100%;
	max-height: 450px;
	cursor: pointer;
	object-fit: cover;
	position: relative;
}

.reactionsDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0px;
}

.reactions {
	display: flex;
	align-items: center;
	font-size: 15px;
}

.reactions span {
	cursor: pointer;
}

.reactions i {
	border-radius: 50%;
	height: 17px;
	width: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
}

.thumb {
	background-color: purple;
	color: white;
}

.heart {
	color: white;
	background-color: orange;
}

.laugh {
	color: white;
	background-color: teal;
}

.commentCount {
	font-size: 14px;
	border-bottom: 2px dotted teal;
	cursor: pointer;
}

.reactioncontainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 8px 0px;
	height: 50px;
}

.likes {
	cursor: pointer;
}

.likes i {
	margin-right: 8px;
}

.showLiked {
	color: #0e76a8;
}
.commentInputContainer {
	display: flex;
	align-items: center;
	margin: 10px 0px;
}

.commentImg {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 8px;
	cursor: pointer;
}

.commentInput {
	width: 90%;
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	padding: 10px 20px;
	border-radius: 20px;
}

.commentInputText {
	width: 100%;
	border: none;
	cursor: pointer;
}

.commentInputText:focus {
	outline: none;
}

.commentInput i {
	cursor: pointer;
}

.commentInputIcon {
	margin-right: 12px;
}

@media only screen and (max-width: 600px) {
	.reactioncontainer {
		height: 18px;
	}

	.reactions {
		font-size: 12px;
	}

	.reactions i {
		width: 14px;
		height: 14px;
	}

	.commentImg {
		width: 30px;
		height: 30px;
	}

	.likes {
		font-size: 15px;
	}

	.likes i {
		margin-right: 4px;
	}

	.homeCenterPostItem {
		margin: 10px 0px;
	}
}
