.singlePostreactionsListItem {
	display: flex;
	position: relative;
	margin-right: 16px;
	cursor: pointer;
}

.postReactedUserInfo {
	display: flex;
	align-items: center;
}

.userReactionImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	margin: 10px 0px;
}

.postReactedUsername {
	font-weight: 500;
}

.singlePostThumb {
	position: absolute;
	right: -6px;
	bottom: 10px;
	font-size: 8px;
	background-color: teal;
	color: white;
	height: 14px;
	width: 14px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
